image @IMAGE@ {
	hdimage {
		align = 1M
		partition-table-type = gpt
		gpt-no-backup = true
	}

	/* below three partitions are unused when booting from eMMC boot partition */
	partition fsbl1 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition fsbl2 {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}
	partition fip {
		image = "@STM32MP_BOARD@.fip"
		size = 2M
	}

	partition barebox-environment {
		partition-type-uuid = 6c3737f2-07f8-45d1-ad45-15d260aab24d
		size = 1M
	}
	partition barebox-state {
		partition-type-uuid = barebox-state
		size = 1M
	}
	partition root-A {
		partition-type-uuid = root-arm
		image = root.ext2
	}
}

image @STM32MP_BOARD@-emmcboot.img {
	hdimage {
		partition-table = false
	}

	partition fsbl {
		image = "stm32mp1-tf-a-@STM32MP_BOARD@.stm32"
		size = 256K
	}

	partition fip {
		image = "@STM32MP_BOARD@.fip"
		offset = 256K
	}
}

image @STM32MP_BOARD@.fip {
	fip {
		fw-config = "stm32mp1-@STM32MP_BOARD@-fw-config.dtb"
		hw-config = "@STM32MP_BOARD@.dtb-bb"
		nt-fw = "barebox-stm32mp-generic-bl33.img"
		tos-fw = { "tee-header_v2.bin", "tee-pager_v2.bin", "tee-pageable_v2.bin" }
	}
	size = 2M
}
/* vim: set tabstop=8 noexpandtab : */
