image @IMAGE@ {
       hdimage {
               partition-table-type = "gpt"
               align = 1M
       }
       partition barebox {
               image = "@BAREBOX_IMAGE@"
               size = 896K
               in-partition-table = false
               holes = {"(440; 32K)"}
       }
       partition barebox-environment {
               # The barebox environment location is configured in the board
               # devicetree files to 0xe0000 ... 0xe0000+0x20000.
               offset = 896K
               size = 128K
               in-partition-table = false
               image = /dev/null
       }
       partition barebox-state {
               offset = 3M
               size = 1M
               partition-type-uuid = 4778ed65-bf42-45fa-9c5b-287a1dc4aab1 # barebox-state
               image = /dev/null
       }
       partition root-A {
               offset = 4M
               image = "root.ext2"
               partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
       }
}
